body {
 font-family: Roboto, sans-serif;
 font-style: normal;
 letter-spacing: 0.03em;
}

ul,
a,
button,
li {
 text-decoration: none; 
 list-style-type: none;
}

h1 {
 font-size: 44px;
 line-height: 60px;
 text-align: center;
 letter-spacing: 0.06em;
 text-transform: uppercase;
}

h2 {
 font-size: 36px;
 line-height: 42px;
 text-align: center;
}

.doing-txt{
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

.features h3 {
 font-weight: bold;
 font-size: 14px;
 line-height: 16px;
 text-transform: uppercase;
}

.features p {
 font-size: 14px;
 line-height: 24px;
}

.command h3 {
 font-size: 16px;
 line-height: 19px;
 text-align: center;
}

.command p {
 font-size: 16px;
 line-height: 19px;
 text-align: center;
}

.logo, .logowite {
 font-family: Raleway, sans-serif;
 font-size: 26px;
 line-height: 31px;
}

.address {
 font-size: 14px;
 line-height: 24px; 
 font-style: normal;
}

.footer-subscribe,
.footer-cammon {
 font-size: 14px;
 line-height: 16px;
 text-transform: uppercase;
}

.developer {
 font-size: 12px;
 line-height: 24px;
 text-align: center;
}


/* стили текста в портфолио */

.link-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}
.figcap-title {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: center;
}

.figcap-discr {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
